.flex-container {
    margin: 10px;
    display: flex;
    background-color: #a767ff;
    border-radius: 30px;
    justify-content: space-around;
    flex-wrap: wrap;
  }
html{
    background-color: #e2b2ff;
}
  #login{
      background-color: #441e77;
    width: 450px;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;   
    border-radius: 30px;
    font-size: 30px;
  }

img{
    width: 450px;
    border-radius: 30px;
}



#main {
    width: max-content;
    margin: 60px auto;
    font-family: "Segoe UI", sans-serif;
    padding: 25px 28px;
    background:#a767ff;
    border-radius: 30px;
    border: 1px solid #302d2d;
}
h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 400;
    color: #ffffff;
}
.input-parent {
    display: block;
    margin-bottom: 20px;
}
label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    color: #2b0734;
}
.input-parent input {
    padding: 10px 8px;
    width: 95%;
    font-size: 16px;
    background: #441e77;
    border: none;
    color: #c7c7c7;
    border-radius: 4px;
    outline: none;
    transition: all 0.2s ease;
}
.input-parent input:hover {
    background: #5d29a1;
}
.input-parent input:focus {
    box-shadow: 0px 0px 0px 1px #0087ff;
}
button {
    padding: 10px 18px;
    font-size: 15px;
    background: #1a3969;
    width: 100%;
    border: none;
    border-radius: 4px;
    color: #f4f4f4;
}
button:hover {
    opacity: 0.9;
}
button:focus {
    box-shadow: 0px 0px 0px 3px black;
}
