{% extends 'base.html' %}

{% block header %}

  
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='history.css') }}">
{% endblock %}

{% block content %}

  
  <canvas id="myChart" ></canvas>

  {% if g.user %}
  <div id='btn-container'>
    <a class="action" href="{{ url_for('tracker.squats') }}">
      <button id='start'>Start Exercise</button>
    </a>
  </div>
  {% endif %}
  
  <table></table>
    {%for i in range(data[0]|length)|reverse%}
      <div id = 'history'> 
        <div id='text'>
          <div style="float: left;width: 50%;">{{data[0][i]}}      </div>
          <div style="float: right;width: 50%;text-align: right;">  {{data[1][i]}} Squats</div>
        </div>
      </div>
      
    {%endfor%}
  <script>
    
    
    //Converting Dates String in to list of dates
    var xValues = '{{data[0]}}'
    xValues= xValues.slice(1,xValues.length-1).split(", ")
    xValues = xValues.map(toDate)
    function toDate(date){
        return date.slice(5,date.length-18)
    }
    
    
    //Converting Squats String in to list of dates
    var yValues = '{{data[1]}}'
    yValues= yValues.slice(1,yValues.length-1).split(", ")
    yValues = yValues.map(Number)
  
    
    
    new Chart("myChart", {
      type: "bar",
      data: {
        labels: xValues,
        datasets: [{
          label: "Number of Squats on a particular date",
          fill: false,
          lineTension: 0.3,
          backgroundColor: "rgba(135,24,220,1.0)",
          borderColor: "rgba(0,0,255,0.1)",
          data: yValues
        }]
      },
      options: {
        legend: {display: true},
        scales: {
          xAxes: [{ticks: {autoSkip: false,
                    maxRotation: 70,
                    minRotation: 70},
                    scaleLabel: {
                            display: true,
                            labelString: 'Date'
                        }
                  }],
          yAxes: [{ticks: {min: 0, max:yValues.max},
                        scaleLabel: {
                            display: true,
                            labelString: 'Squats'
                        }
                  }],
        }
      }
    });
    </script>
    
{% endblock %}