{% extends 'base.html' %}

{% block header %}
<head>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
</head>
<body>

  <h1>{% block title %}Posts{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('tracker.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
  <script>
    
    
    //Converting Dates String in to list of dates
    var xValues = '{{data[0]}}'
    console.log(xValues)
    console.log(xValues.split(', '))
    xValues= xValues.slice(1,xValues.length-1).split(", ")
    xValues = xValues.map(toDate)
    function toDate(date){
        return date.slice(5,date.length-5)
    }
    console.log(xValues)
    
    
    //Converting Squats String in to list of dates
    var yValues = '{{data[1]}}'
    yValues= yValues.slice(1,yValues.length-1).split(", ")
    yValues = yValues.map(Number)
  
    
    
    new Chart("myChart", {
      type: "line",
      data: {
        labels: xValues,
        datasets: [{
          fill: true,
          lineTension: 0.3,
          backgroundColor: "rgba(135,24,220,1.0)",
          borderColor: "rgba(0,0,255,0.1)",
          data: yValues
        }]
      },
      options: {
        legend: {display: false},
        scales: {
          xAxes: [{ticks: {autoSkip: false,
                    maxRotation: 70,
                    minRotation: 70}}],
          yAxes: [{ticks: {min: 0, max:20}}],
        }
      }
    });
    </script>
    </body>
{% endblock %}