{% extends 'base.html' %}



{% block content %}
  
<head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet">
</head>
<body>
    

    <h1 id='count' style='text-align: center;margin: 30px;'>Squats Count : 0</h1>
    <canvas id="canvas" style="margin: 0 auto;max-width: 700px;margin-top:40px ;"></canvas>
    <form method="post" >
        <div style="margin: 0 auto;text-align: center;">
        <input type="submit" value="Stop" style="background-color: #f0d200;border-radius: 10px;height: 50px;font-size: 30px;min-width: 120px;">
        </div>
      </form>
        
    
</div>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script>
    $(document).ready(function () {
        const config = {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: "Random Dataset",
                    backgroundColor: 'rgb(1, 0, 132)',
                    borderColor: 'rgb(1, 0, 132)',
                    data: [],
                    fill: false,
                }],
            },
            options: {
                responsive: true,
                title: {
                    display: false
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: false,
                        scaleLabel: {
                            display: true,
                            labelString: 'Time'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Angle'
                        },
                        ticks: {
                            suggestedMin: 0,    
                            suggestedMax:180,
                            beginAtZero: true   
                        }
                    }]
                }
                
            }
        };

        const context = document.getElementById('canvas').getContext('2d');

        const lineChart = new Chart(context, config);

        const source = new EventSource("/chart-data");

        source.onmessage = function (event) {
            const data = JSON.parse(event.data);
            if (config.data.labels.length === 60) {
                config.data.labels.shift();
                config.data.datasets[0].data.shift();
            }
            config.data.labels.push(data.count);
            if(document.getElementById('count').innerHTML != "Squats Count : " + data.count){
                var audioUrl = '../../static/alert.wav';
                 new Audio(audioUrl).play( ); 
            }

            document.getElementById('count').innerHTML = "Squats Count : " + data.count;
            config.data.datasets[0].data.push(data.angle);
            lineChart.update();
        }
    });
</script>
</body>
{% endblock %}